* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

@font-face {
    font-family: "Regular";
    src: url(../fonts/Poppins-Regular.ttf);
}

header {
    .container {
        padding: 0 60px;

        .header_many {
            width: 100%;
            display: grid;
            grid-template-columns: 50% 40%;
            margin-top: 40px;

            .header_right {
                ul {
                    display: flex;
                    gap: 36px;

                    a {
                        color: #4B321D;
                        font-family: "Regular";
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 28.8px;
                    }
                }

                span {
                    display: none;
                }
            }
        }

        .header_text {
            margin-top: 114px;
            max-width: 1269px;

            h1 {
                color: #4B321D;
                font-family: "Regular";
                font-size: 80px;
                font-weight: 400;
                line-height: 100px;
            }
        }
    }

    .header_img {
        max-width: 100%;

        img {
            width: 100%;
            max-height: 100%;
            padding: 0 40px;
            margin-top: 136px;
        }
    }

    .container1 {
        padding: 0 60px;

        .content {
            max-width: 1319px;
            margin-top: 84px;

            h2 {
                color: #4B321D;
                font-family: "Regular";
                font-size: 68px;
                font-weight: 400;
                line-height: 80px;
            }

            button {
                color: #4B321D;
                font-family: "Regular";
                font-size: 20px;
                padding: 11px 17px;
                margin-top: 56px;
                border-radius: 3px;
                border: 2px solid #4B321D;
            }
        }
    }
}

@media (min-width: 769px) and (max-width: 990px) {
    header {
        .container {
            .header_text {
                margin-top: 80px;

                h1 {
                    font-size: 60px;
                    line-height: 80px;
                }
            }
        }

        .header_img {
            width: 100%;

            img {
                width: 100%;
            }
        }

        .container1 {
            .content {
                max-width: 100%;
                h2 {
                    font-size: 60px;
                    line-height: 70px;
                }
            }
        }
    }

}

@media (min-width: 447px) and (max-width: 768px) {
    header {
        .container {
            padding: 0 50px;

            .header_many {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .header_right {
                    ul {
                        display: none;
                    }

                    span {
                        display: block;
                        font-size: 30px;
                    }
                }
            }

            .header_text {
                margin-top: 30px;

                h1 {
                    font-size: 40px;
                    line-height: 60px;
                }
            }
        }

        .container1 {
            padding: 0 30px;
            .content {
                margin-top: 15px;
                padding: 0;
                h2 {
                    font-size: 40px;
                    line-height: 60px;
                }

                button {
                    font-size: 18px;
                    padding: 10px 17px;
                    margin-top: 56px;
                }
            }
        }
    }
}

@media (max-width: 446px) {
    header {
        .container {
            padding: 0 30px;
            .header_many {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .header_right {
                    ul {
                        display: none;
                    }

                    span {
                        display: block;
                        font-size: 30px;
                    }
                }
            }
            .header_text {
                margin-top: 30px;
                h1 {
                    font-size: 22px;
                    line-height: 30px;
                }
            }
        }
        .container1 {
            .content {
                margin-top: 30px;

                h2 {
                    font-size: 22px;
                    line-height: 30px;
                }

                button {
                    font-size: 14px;
                    padding: 8px 13px;
                    margin-top: 36px;
                }
            }
        }

    }
}


